body{
    width: auto;
    background-color: #ADA7A7;
}

header{
    size:30px;
}

h1{
    color: #FA5200;
    text-align: center;
    background-color: #62605E;
    font-family: monospace;
    font-size: 100px;
}

h2{
    background-color: #FAA80F;
    margin-top: 20px;
    margin-bottom: 20px;
        font-size: 50px;
        font-family: monospace;


}

img{
    margin: 60px 20px 20px 20px;
    align-items: center;
    border:#FA0F1C;
    border-style: solid;
    border-width: 10px;
    width: 1000px;
    height: 600px;
    
}

p{
    margin: 50px 50px 50px 50px;
}

footer{
    color:yellow;
}